<%- include('partials/header') %>

<div class="main-container no-scroll">
  <div class="midder">
    <form class="user-form col-3" action="/login" method="post">
      <input type="text" class="add-input form-control select mb-1" name="username" placeholder=" شماره موبایل" />
      <input type="password" class="add-input form-control select mb-1" name="password" placeholder="رمز" />

      <button class="submit add-submit" type="submit">ورود</button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>

